* {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  color: lightgray;
}
body {
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: 55%;
  width: 50%;
  background-color: #212121;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
#label {
  text-align: center;
  font-size: 2rem;
  margin-top: 15px;
  font-weight: bold;
}
#textBox {
  font-size: 2.5rem;
  width: 30%;
  border-radius: 5px;
  color: #212121;
  text-align: center;
}
label {
  font-size: 1.5rem;
}
#conTex {
  margin-top: 20p;
}
#subBtn {
  font-size: 1.5rem;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
  background-color: #6d67e4;
}
#result {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
